@import "components/ui/__variables";

.stream-view {
  background-color: black;
  width: 100%;
  height: 100vh;

  &_actions {
    width: 100%;
    // width: 10rem;
    height: fit-content;
    // background-color: black;
    position: fixed;
    bottom: 4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $white-color;
    div {
      width: 2.5rem;
      height: 2.5rem;
      //   background: $cancel-color;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid $cancel-color;
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-child {
        border-color: $primary-color;
      }
      &:last-child {
        border-color: $primary-color;
      }
    }
  }
}
