@import "~react-pro-sidebar/dist/scss/styles.scss";

@import "src/components/ui/__variables";

body {
  height: 100%;
  background-color: $background-color;
  font-family: "Courier New", Courier, monospace;
}

.layout {
  background-color: $background-color;
  height: 90%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  margin-top: 5vh;
  border: 0.5px solid $primary-color;
  // border : 0.5px 0px 0.5px 0px solid $primary-color;
  // border-left: 0.5px solid $primary-color;
  // border-right: 0.5px solid $primary-color;
  position: fixed;
  @media screen and (max-width: $medium-screen) {
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-left: 0%;
    margin-right: 0%;
    border: none;
  }
}
